div{
    border: 10px solid red;
    padding: 50px;
    font-size: 50px;
    display: inline-block;
}
.content {
    margin: 10px;
    height: 150px;
    box-sizing: border-box;
}

.border {
    margin: 10px;
    height: 150px;
    box-sizing: border-box;
}